{% extends 'recruiter_nav.html' %}
{% block body %}
{% load static %}

{% ifequal error "notable" %}
<script>
    alert(' Application are close last date is over');
    window.location = "{% url 'userlatest_job' %}";
</script>
{% endifequal %}
{% ifequal error "close" %}
<script>
    alert(' Application line is not opend');
    window.location = "{% url 'userlatest_job' %}";
</script>
{% endifequal %}
{% ifequal error "able" %}
<script>
    alert(' Apply Successfully');
    window.location = "{% url 'userlatest_job' %}";
</script>
{% endifequal %}
   <center><marquee style = "font-family : 'Monotype Corsiva' ; font-size:30px;color :darkcyan
 ; background-color:black;font-weight : bold;">Apply Job</marquee></center><hr>
<div class="container-fluid" style="width:70%;margin-top:5%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">

    <div class="form-group col-md-12">
        <center> <label for="inputPassword4" style="font-size:30px">Upload Resume</label></center>
      <input type="file" class="form-control"  name="image" id="inputPassword4">
    </div>
  </div>

    <button type="submit" class="btn btn-danger" style="width:900px;height:40px;margin-bottom:6%;background-color:navy;font-size:20px">Submit</button>
</form>
</div></div>


{% endblock %}
