{% extends 'navigation.html' %}
{% block body %}
{% load static %}

{% ifequal error "yes" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'recruiter_home' %}');
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endifequal %}
{% ifequal error "no" %}
<script>
    alert('user is not exist');
</script>
{% endifequal %}
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom:3%
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;

}
</style>

<center><marquee style = "font-family : 'Monotype Corsiva' ; font-size:30px;color :darkcyan
 ; background-color:black;font-weight : bold;margin-top:1%">Recruiter Login</marquee></center><hr>
<div class="container" style="margin-top:1%">

      <form method="post" action="">
        {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top:2%;color:darkcyan;background-color:black;height:40px; font-size: 15px;">SUBMIT</button>
  <button class="btn btn-primary"style="color:blue;background-color:black;margin-top:2%;height:40px; font-size: 15px;"><a href="{% url 'recruiter' %}" >CREATE AN ACCOUNT</a></button>

      </form>
</div>
{% endblock %}
