{% extends 'navigation.html' %}
{% block body %}

<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold;margin-top:2%">
    View Student</h2></center><hr>
<div class="container" style="margin-top:1%">
</div>
 <div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Image</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Action</th>
  </tr>
  </thead>
   <tbody>

{% for i in pro %}
  <tr>
      <td>{{forloop.counter}}</td>
      <td><img src="{{i.sign.image.url}}" style="width:100px;height:110px"></td>
    <td>{{i.sign.user.first_name}} {{i.sign.user.last_name}}</td>
    <td>{{i.sign.user.username}}</td>
    <td>{{i.sign.contact}}</td>
    <td><a href="{% url 'delete_student' i.id %}"><button class="button button1" onclick="return confirm('Are you sure?')">Delete</button></a></td>
  </tr>
   {% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
