{% extends 'instruct_nav.html' %}
{% block body %}

<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ;
 font-weight : bold;margin-top:2%">View Topic</h2></center><hr>
<div class="container" style="margin-top:1%">
</div>
 <div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr.No.</th>
    <th>Course Title</th>
    <th>Topic</th>
    <th>File</th>
    <th>Action</th>
  </tr>
  </thead>
   <tbody>

{% for i in pro %}
{% ifequal i.book.course.instruct.sign.user.id request.user.id %}
  <tr>
      <td>{{forloop.counter}}</td>
    <td>{{i.book.book_title}}</td>
    <td>{{i.topic_name}}</td>
    <td>{{i.topic_file}}</td>
    <td><a href="{% url 'delete_topic' i.id %}"><button class="button button1" onclick="return confirm('Are you sure?')">Delete</button></a></td>
  </tr>
{% endifequal %}
   {% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
